# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ addCI,master]
  pull_request:
    branches: [ ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Node
      uses: actions/setup-node@v1
    - run: npm install -g yarn
    - run: sudo gem install compass
    - run: cd ui && scripts/package.sh
    - name: Upload apps.zip as Artifact
      uses: actions/upload-artifact@v2
      with:
        name: bahmni-connect-apps
        path: | 
          ui/bahmni-connect-apps
      if: always()
    - name: Upload androidDist as Artifact
      uses: actions/upload-artifact@v2
      with:
        name: bahmni-android
        path: | 
          ui/androidDist
      if: always()